scopeName: 'hydron.breakpoints'
name: 'Hydron breakpoints'
injectionSelector: 'comment.line'
patterns: [
  {
    match: ' ?%%(\\s*\\[?(md|markdown)\\]?)?| <(codecell|md|markdown)>| In\\[[0-9 ]*\\]:?'
    name: 'entity.name.section.breakpoint'
  }
]
